footer {
    position: relative;
    bottom: 0%;
    
}
.footer-item {
    color: whitesmoke;
    padding-left: 100px !important;
    padding-right: 100px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.fa-github {
    color: white;
    transition: 0.3s;
}

.fa-github:hover {
    color: black;
    transition: 0.3s;
}
#prvnirocnik {
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 20px;
    padding: 5%;
    margin-top: 10px;
}
.image {
    width: 80%;
    min-width: 200px;
    border: solid whitesmoke 2px !important;
    border-radius: 20px;
    opacity: 0.5;
    transition: 0.5s;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 5%;
}